.playpause {
  padding: 20px;
  outline: none;
  border-radius: 50%;
  background: red;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  background: var(--button-background);
  transition: var(--transition-default);

  &:hover {
    box-shadow: 0 0 30px var(--box-shadow-color);
  }

  &:active {
    outline: none;
    border: 0;
  }

  label {
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    outline: none;
    left: 5px;
    position: relative;

    border-color: transparent transparent transparent var(--text-primary);
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    transition: var(--transition-default);
  }
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    &:checked + label {
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
    &:focus + label {
      box-shadow: 0 0 5px lightblue;
    }
  }
}
