.ytPlayerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.ytPlayerIframe {
  width: 100dvw;
  height: 100dvh;

  .ytp-button {
    display: none !important;
  }
}
