@import "src/app/mediaQueries.module.scss";

.ytPlayerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.ytPlayerIframe {
  width: 100dvw;
  height: 100dvh;

  .ytp-button {
    display: none !important;
  }
}

.ytPlayerList {
  background: var(--background-gradient-90deg);
  position: fixed;
  right: calc(-90vw + 10px);
  top: 0;
  max-width: calc(90vw - 10px);
  width: 100%;
  box-shadow: 0 0 10px var(--box-shadow-color);
  transition: var(--transition-default);

  @include gt-sm {
    right: -50vw;
    width: 50vw;
  }
}

.ytPlayerListShow {
  right: 0;
}

.tab {
  cursor: pointer;
  padding: 20px 10px;
  position: absolute;
  left: -44px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  white-space: nowrap;
  display: inline-block;
  background: var(--background-gradient-reverse);
  box-shadow: 4px 0 10px var(--box-shadow-color);
  z-index: -2;
  transition: var(--transition-default);

  &:hover {
    box-shadow: 4px 0 30px var(--box-shadow-color);
  }
}

.item {
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--box-shadow-color);
  transition: var(--transition-default);

  &:hover {
    background: var(--background-gradient-90deg);
  }
}

.listTitle {
  padding: 10px 20px;
  border-bottom: 1px solid;
  font-weight: 100;
}

.ytList {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 45vw;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;


  @include gt-xs {
    right: calc(-40vw + 10px);
    max-width: 65vw;
  }

  @include gt-sm {
    right: calc(-40vw + 10px);
    max-width: 35vw;
  }
}

.subtitle {
  @extend .title;
  font-size: 14px;
  margin: 5px 0;
}

.link {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: var(--link-color);
  transition: var(--transition-default);

  &:hover {
    color: var(--link-color-hover);
  }

  svg {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 5px;
    width: 15px;
  }
}
