:root {
    --background: rgb(177,1,66);
    --background-gradient: linear-gradient(45deg, rgba(177,1,66,0.8) 0%, rgba(47,1,56,0.8) 100%);
    --background-gradient-reverse: linear-gradient(45deg, rgba(47,1,56,0.9)  0%, rgba(177,1,66,0.9) 100%);

    --link-color: #ffa677;
    --link-color-hover: #ff8d51;

    --box-background: rgba(131, 96, 83, .9);
    --box-background-hover: rgba(131, 96, 83, .7);
    --box-shadow-color: #999;

    --text-primary: #dfdfdf;

    --button-background: var(--background-gradient-reverse);
    --button-color: var(--text-primary);

    --transition-default: all .2s linear;
}
