:root {
    --background: rgb(177,1,66);
    --background-gradient: linear-gradient(45deg, rgba(177,1,66,0.8) 0%, rgba(47,1,56,0.8) 100%);
    --background-gradient-reverse: linear-gradient(45deg, rgba(47,1,56,0.9)  0%, rgba(177,1,66,0.9) 100%);
    --background-gradient-90deg: linear-gradient(-90deg, rgba(177,1,66,0.8) 0%, rgba(47,1,56,0.8) 50%);
    --background-gradient-90deg-secondary: linear-gradient(-90deg, rgba(47,1,56,0.8) 50%, rgba(177,1,66,0.8) 100%);

    --link-color: #b10142;
    --link-color-hover: #2f0138;

    --box-background: rgba(131, 96, 83, .9);
    --box-background-hover: var(--background-gradient);
    --box-shadow-size-hover: 30px;
    --box-shadow-color: #999;

    --box-shadow-hover: 0 0 var(--box-shadow-size-hover) var(--box-shadow-color);

    --text-primary: #dfdfdf;

    --button-background: var(--background-gradient-reverse);
    --button-color: var(--text-primary);

    --transition-default: all .2s linear;
}
